body {
	 background-image: url("../img/wood.jpg");
	 background-size: cover;
}

#calc {
	overflow: auto;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 300px;
	height: 600px;
	background: #777;
	border-radius: 10px 10px 30px 30px;
	box-shadow: inset 0 0 10px #000000;
}

#screen-border {
	overflow: auto;
	margin: auto;
	margin-top: 10px;
	width: 280px;
	height: 205px;
	background: #333;
	color: #fff;
	border: 2px solid #000;
	border-radius: 5px 5px 2px 2px;
	box-shadow: inset 0 0 10px #000000;
	
}

#ti {
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#screen {
	margin: auto;
	width: 250px;
	height: 160px;
	background: #caf79e;
	color: #214989;
	box-shadow: inset 0 0 10px #000000;
}